{% extends "layout.html" %}

{% block title %}
registrants
{% endblock %}

{% block body %}
<h1>Registrants</h1>
<table>
    <thead>
        <tr>
            <th>Name</th>
            <th>Sport</th>
        </tr>
    </thead>
    <tbody>
        {% for registrants in registrant %}
        <tr>
            <td>{{ registrants['name'] }}</td>
            <td>{{ registrants['sports'] }}</td>
            <td>
                <form action="/deregister" method="post">
                    <input type="hidden" value="{{registrants.id}}" name="id">
                    <input type="submit" value="deregiter">
                </form>
            </td>
        </tr>
        {% endfor %}
    </tbody>
</table>

{% endblock %}
